package ${package.Controller};

import ${package.Service}.I${entity}Service;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
#if(${restControllerStyle})
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
#else
import org.springframework.stereotype.Controller;
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end
    @Autowired
    protected I${entity}Service service;

    @GetMapping("/{id}")
    public Object getUser(@PathVariable(value = "id") String id) {
        return id;
    }
}

#end