build/
target/
bin/
dist/
output/

.logs/
.settings/
.mvn/
.vscode/
.apt_generated/
.apt_generated_tests/
.springBeans/
.sts4-cache/
.metadata/
.idea/
.idea_modules/
.gradle/

*.log
*.iws
*.iml
*.ipr
*.classpath
*.factorypath
*.springBeans

.project
*.lock
